run = "npm run lint;npm run build; npm run start"
entrypoint = "src/index.ts"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Lint,Test,Build"

[[workflows.workflow]]
name = "Lint"
mode = "sequential"
author = 40839033

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run lint"

[[workflows.workflow]]
name = "Build"
mode = "sequential"
author = 40839033

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Test"
mode = "sequential"
author = 40839033

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run test"

[[workflows.workflow]]
name = "Lint,Test,Build"
mode = "sequential"
author = 40839033

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Lint"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build"

